{% extends "analyze/base.html" %}
{% block content %}
<!-- 画像アップロード画面へのリンクを追加する -->
<div>
    <form action="{{ url_for('analyze.index') }}" method="post" enctype="multipart/form-data"
        novalidate="novalidate">
        {{ form.csrf_token }}
        <div>
            {{ form.texts(class="filepond", multiple=True) }}
            <!-- <input type="file" class="filepond" name="texts" multiple> -->
        </div>

        {% for error in form.texts.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <hr />

        

        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>

    </form>

<script>
    FilePond.create(document.querySelector('input[type="file"]'),{
        storeAsFile: true,
        allowMultiple: true,
    });
</script>

    <!-- <script>FilePond.parse(document.body);</script> -->

{% endblock %}