{% extends "analyze/base.html" %}
{% block content %}
<!-- 画像アップロード画面へのリンクを追加する -->
<div>
    <form action="{{ url_for('analyze.index') }}" method="post" enctype="multipart/form-data"
        novalidate="novalidate">
        {{ form.csrf_token }}
        <div>
            <label>
                <!-- <input type="file" name="texts" class="filepond" multiple /> -->
                {{ form.texts(class="filepond", multiple=True) }}
                <!-- form-control-file -->
            </label>
        </div>
        {% for error in form.texts.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <hr />
        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    
    <script>
    FilePond.registerPlugin();
    FilePond.create(document.querySelector('.filepond'));
    </script>


<!-- 画像一覧を表示する -->
{% for user_image in user_images %}
<div class="card col-md-7 dt-image-content">
    <header class="d-flex justify-content-between">
        <div class="dt-image-username">{{ user_image.User.username }}</div>
    </header>
    <section>
        <img src="{{ url_for('analyze.image_file', filename=user_image.UserImage.image_path) }}" alt="アップロード画像" />
    </section>
</div>
{% endfor %}
{% endblock %}